@charset "UTF-8";

html{ 
    overflow-y: hidden;
} 

.main {
    min-width: 1000px;
}

body{
    min-width: 1000px;
}

.navbar{
    padding: 8px;
}

.navbar-brand{
    padding-left: 16px;
    margin-right: auto;
}


#mainPage{
    padding: 16px;
}

.contentMessages{
    padding-top: 32px;
    overflow: auto;
    height: 100vh;
}

#bot-list{
    overflow: auto;
    height: 100vh;
}

.dateEtHeureMessages{
    font-size:11px;
}

.inputMessage{
    position: sticky;
    top: 87%;
    height: 2vh;
    z-index: 8000;
}

#messages{
    overflow: auto;
    height: 100vh;
}


